.detallesRenglon{
    align-items: center;
    height: 10%;
    margin-bottom: 5px;
}

.detallesRenglon div{
    display: inline;
}

.titulo{
    display: flex;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 5px;
} 

.titulo p{
    font-size: 18px;
}